.container {
  max-width: 1200px;
  margin: auto;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.texto {
  margin-top: 5px;
  width: 386px;
}

.texto h2 {
  font-family: 'Poppins';
  color: white;
  font-size: 30px;
}

.texto p {
  color: white;
}

.texto span {
  color: rgb(13, 137, 186);
 
  display: block;
  font-size: 25px;
}



.sobre-imagem img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}