

.container {
  max-width: 1200px;
  margin: auto;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}


.container .texto {
  margin-top: 5px;
  width: 386px;
}

.container .texto h1 {
  font-family: 'Orbitron';
  color: white;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

.texto span {
  color: rgb(13, 137, 186);
  display: block;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Orbitron';
}

.texto p {
  color: #e5e7eb;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Orbitron';
}


.texto h1,
.texto span,
.texto p {
  overflow: hidden;
  white-space: nowrap;
}

.texto h1 {
  width: 0;
  animation: digitar 2s steps(9) forwards;
}

.texto span {
  width: 0;
  animation: digitar 2s steps(10) forwards;
}

.texto p {
  width: 0;
  animation: digitar 2s steps(14) forwards;
}

@keyframes digitar {
  to {
    width: 100%;
  }
}


.icones {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
  list-style: none;
}

.icones img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid #fff;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.icones img:hover {
  transform: scale(1.2);
  filter: brightness(1.3);
}


.icones li {
  opacity: 0;
  transform: translateY(20px);
  animation: aparecerIcone 0.6s ease forwards;
}

.icones li:nth-child(1) { animation-delay: 2.2s; }
.icones li:nth-child(2) { animation-delay: 2.4s; }
.icones li:nth-child(3) { animation-delay: 2.6s; }
.icones li:nth-child(4) { animation-delay: 2.8s; }

@keyframes aparecerIcone {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.sobre-imagem img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;

  opacity: 0;
  transform: scale(0.9);
  animation: aparecerImagem 1s ease forwards;
  animation-delay: 3s;
}

@keyframes aparecerImagem {
  to {
    opacity: 1;
    transform: scale(1);
  }
}


@media (max-width: 600px) {

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px; 
    padding: 40px 15px;
  }

  .container .texto {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .container .texto h1 {
    font-size: 32px; 
  }

  .texto p {
    font-size: 20px;
  }

  .texto span {
    font-size: 24px;
  }

  
  .sobre-imagem img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto; 
  }

  .icones {
    gap: 10px;
    justify-content: center;
  }

  .icones img {
    width: 30px;
    height: 30px;
  }
}
