



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Inter';
}

body {
background: linear-gradient(
  to right,
  #1A0B2E 0%,
  #2E1065 40%,
  #0077FF 80%,
  #00CFE8 100%
);
  overflow-x: hidden;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input, textarea {
  border: none;
  outline: none;
}