.sobre {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
  padding: 0px;
}

/* ===== TITULO ===== */

.titulo {
  background: linear-gradient(135deg, #1A0B2E, #2E1065, #000000);
}

.titulo h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 80px;
}

.titulo span {
  color: rgb(13, 137, 186);
  font-family: 'Orbitron';
}

/* ===== TEXTO ===== */

.paragrafo {
  font-size: 25px;
  margin: 30px;
}

.paragrafo p {
  margin-bottom: 20px;
  color: white;

  /* 👇 animação */
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
}

/* 👇 quando ativa */
.paragrafo p.ativo {
  opacity: 1;
  transform: translateY(0);
}

@media(max-width: 600px){

  .sobre{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
    padding: 0px;
  }

  .titulo h1 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    color: white;
    font-size: 40px;
  }

  .paragrafo{
    color: white;
    font-size: 15px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
  }

  .paragrafo p{
    margin-bottom: 20px;
  }

}