.sobre{
 display: grid;
 grid-template-columns: 3fr 1fr;
 gap: 40px;
 padding: 0px;
}

.titulo{
  background: linear-gradient(135deg, #1A0B2E, #2E1065, #000000);
 

  
}


.titulo h1 {
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: white;
  font-size: 80px;
}

.paragrafo{
  color: white;
  font-size: 25px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.paragrafo p{
  margin-bottom: 20px;
}


@media(max-width: 600px){

  .sobre{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
    padding: 0px;
  }

  .titulo h1 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    color: white;
    font-size: 40px;
  }

  .paragrafo{
    color: white;
    font-size: 15px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
  }

  .paragrafo p{
    margin-bottom: 20px;
  }

}