.menu {
  display: flex;
  justify-content: space-between; 
  padding: 0 20px; 
}

.menu img {
  height: 100px;
  width: auto;
  cursor: pointer;
}

.menu h1 {
  text-transform: uppercase;
  color: white;
}


.menu ul {
  display: flex;
  gap: 40px; /
  list-style: none;
  margin: 0;
  padding: 0; 
  align-items: center; 
}

.menu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  position: relative;
  transition: 0.3s;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.menu ul li a:hover::after {
  width: 100%;
}