.menu {
  display: flex;
  justify-content: space-between; 
  padding: 0 20px; 
   background: linear-gradient(135deg, #1A0B2E, #2E1065, #000000);
}

.menu img {
  height: 100px;
  width: auto;
  cursor: pointer;
}

.menu h1 {
  text-transform: uppercase;
  color: white;
}

.btn-menu{
  display: none;
}


.menu ul {
  display: flex;
  gap: 40px; /
  list-style: none;
  margin: 0;
  padding: 0; 
  align-items: center; 

}

.menu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #00CFE8;
  font-family: 'Orbitron';
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s;
}
.menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background:#00CFE8;
  transition: 0.3s;
}

.menu ul li a:hover::after {
  width: 100%;
}

@media (max-width: 480px){

  .menu img {
    display: none;
  }

  .btn-menu {
    display: block;
    color:#00CFE8;
     border: 1px solid #00CFE8;
     padding: 4px 4px;
    font-size: 16px; 
     font-family: 'Orbitron';
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    


  }

  .btn-menu:hover{
    background: #00CFE8;
    color: white;
    transition: 0.7s;
  }

  
  .menu ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
     background: #1A0B2E;

    position: absolute;
    top: 55px;
    left: 20px;

    width: auto; 
    

    gap: 2px;
  }

  .menu ul.ativo {
    display: flex;

  }

  .menu ul li {
    width: auto;
  }

  .menu ul li a {
    display: block;
    padding: 2px 0;
    font-size: 9px;
    color: #00CFE8;
   
  }

  

}